@import "tailwindcss";

@media print {
  header,
  footer,
  button,
  .no-print,
  #btn-status-supabase,
  #btn-open-settings,
  .border-b.border-slate-200.bg-slate-50 {
    display: none !important;
  }

  body {
    background-color: white !important;
    color: black !important;
  }

  main {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .shadow-sm,
  .shadow-xs,
  .shadow-2xs {
    box-shadow: none !important;
  }
}
